@model StudentContributions.Models.Models.Semester

@{
    ViewData["Title"] = "Delete";
}
<div class="col-md-8 offset-md-2 border-shadow">
    <h2>Are you sure you want to delete this semester?</h2>
    <div>
        <hr />
        <table class="table table-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                <td>@Html.DisplayFor(model => model.StartDate)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                <td>@Html.DisplayFor(model => model.EndDate)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                <td>@Html.DisplayFor(model => model.IsActive)</td>
            </tr>
        </table>

        <form asp-action="Delete" method="post" style="display: flex; justify-content: space-between; margin-top: 5px">
            <input type="hidden" asp-for="ID" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>