@model IEnumerable<StudentContributions.Models.Models.Semester>

@{
    ViewData["Title"] = "Index";
}
<div class="col-md-8 offset-md-2">
    <div style="display: flex; justify-content: space-between;">
        <h2>Semesters</h2>
        <a asp-action="Create" class="btn btn-primary" style="margin-bottom: 5px">Create New Semester</a>
    </div>

    <div class="table table-active">
        <table class="table table-striped border-shadow" style="border: 1px solid #000;">
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Is Active?</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>