@model IEnumerable<AcademicYearVM>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<html lang="en">
<head>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-borderless table-hover overflow-hidden rounded-table border shadow">
                        <thead class="table-active">
                            <tr>
                                <th>Faculty ID</th>
                                <th>Semester Name</th>
                                <th>Semester</th>
                                <th>Number of contributors</th>
                                <th>Number of Contributions</th>
                                <th>Total of Approved Contributions</th>
                                <th>Percentage of Contribution</th>
                                <th>Percentage of Approved Contribution</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FacultyId</td>
                                    <td>@item.semester.SemesterName</td>
                                    <td>@item.semester.StartDate to @item.semester.EndDate</td>
                                    <td>@item.ContributorNum</td>
                                    <td>@item.ContributionNum</td>
                                    <td>@item.ApprovedContributionNum</td>
                                    <td>@item.PercentageOfContribution %</td>
                                    <td>@item.PercentageOfApproved %</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4" style="width: 50%;">
                <canvas id="pieChart" style="width:100%;max-width:350px;margin: 15px auto;"></canvas>
            </div>
            <div class="col-md-6 col-lg-4" style="width: 50%;">
                <canvas id="doughChart" style="width:100%;max-width:350px;margin: 15px auto;"></canvas>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4" style="width: 50%;">
                <canvas id="mixedChartID" style="width:100%;max-width:700px;margin: 15px auto;"></canvas>
            </div>
        </div>

    </div>
</body>

</html>
<script>
    // Color
    var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145",
        "#004f91",
        "#fcce06",
        "#3a225d",
        "#9a1c22",
        "#254aa5",
        "#D9E3EF",
        "#02183c"
    ];
    //Pie Chart variables
    var xPieValues = [];
    @foreach (var item in Model)
    {
        @:xPieValues.push("@item.semester.SemesterName")
    }
            var yPieValues = [];
    @foreach (var item in Model)
    {
        @:yPieValues.push("@item.PercentageOfContribution")
    }
    //Pie Chart draw
    new Chart("pieChart", {
        type: "pie",
        data: {
            labels: xPieValues,
            datasets: [{
                backgroundColor: barColors,
                data: yPieValues
            }]
        },
        options: {
            title: {
                display: true,
                text: "Percentage of Contribution in Faluty(%)"
            }
        }
    });
    //
    //Doughnut Chart variables
    var xDoughValues = [];
    @foreach (var item in Model)
    {
        @:xDoughValues.push("@item.semester.SemesterName")
    }
                var yDoughValues = [];
    @foreach (var item in Model)
    {
        @:yDoughValues.push("@item.PercentageOfApproved")
    }
        //Dough Chart draw
        new Chart("doughChart", {
            type: "doughnut",
            data: {
                labels: xDoughValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yDoughValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Percentage of Approved Contribution in Faluty(%)"
                }
            }
        });

    //Mixed Chart Variables
    var xMixedValues = [];
    @foreach (var item in Model)
    {
        @:xMixedValues.push("@item.semester.SemesterName")
    }
    var y1MixedValues = [];
    var y2MixedValues = [];
    @foreach (var item in Model)
    {
        @:y1MixedValues.push("@item.ContributorNum")
    }
    @foreach (var item in Model)
    {
        @:y2MixedValues.push("@item.ContributionNum")
    }
            // Mixed Chart Draw
     const data = {
        labels:
            xMixedValues,
        datasets: [
            {
                label: 'Contributor',
                data:
                    y1MixedValues,
                yAxisID: 'y-axis-1',
                backgroundColor:
                    'rgba(75, 192, 192, 0.2)',
                borderColor:
                    'rgba(75, 192, 192, 1)',
                borderWidth: 1
            },
            {
                label: 'Contribution',
                data:
                    y2MixedValues,
                yAxisID: 'y-axis-2',
                backgroundColor:
                    'rgba(255, 99, 132, 0.2)',
                borderColor:
                    'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }
        ]
    };
    const maxPadding = 0.1; // Adjust the padding as needed (e.g., 0.1 for 10% padding)
    const max1 = Math.max(...y1MixedValues);
    const max2 = Math.max(...y2MixedValues);
    const config = {
        type: 'bar',
        data: data,
        options: {
            title: {
                display: true,
                text: "Number of Contributor and Contribution each Semester"
            },
            scales: {
                yAxes: [
                    {
                        type: 'linear',
                        position: 'left',
                        id: 'y-axis-1',
                        ticks: {
                            beginAtZero: true, // Always start from zero
                            stepSize: 1, // Forces only integers
                            precision: 0, // Forces no decimal places
                            suggestedMin: 0, // Ensure the minimum value is always 0
                            suggestedMax: max1 + max1 * maxPadding // Adjusted maximum value
                        }
                    },
                    {
                        type: 'linear',
                        position: 'right',
                        id: 'y-axis-2',
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            precision: 0,
                            suggestedMin: 0,
                            suggestedMax: max2 + max2 * maxPadding
                        }
                    },
                ]
            }
        }
    };
    const mixedChartID = new Chart(
        document.getElementById('mixedChartID'), config);
</script>