@model IEnumerable<AcademicYearVM>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>
    <div class="table-responsive">
        <table class="table table-borderless table-hover overflow-hidden rounded-table border shadow">
            <thead class="table-active">
                <tr>
                    <th>Faculty ID</th>
                    <th>Semester Name</th>
                    <th>Semester</th>
                    <th>Number of contributor</th>
                    <th>Number of Contribution</th>
                    <th>Total of Approved Contribution</th>
                    <th>Percentage of Contribution</th>
                    <th>Percentage of Approved Contribution</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FacultyId</td>
                        <td>@item.semester.SemesterName</td>
                        <td>@item.semester.StartDate to @item.semester.EndDate</td>
                        <td>@item.ContributorNum</td>
                        <td>@item.ContributionNum</td>
                        <td>@item.ApprovedContributionNum</td>
                        <td>@item.PercentageOfContribution %</td>
                        <td>@item.PercentageOfApproved %</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div style="width: 50%;">
            <canvas id="pieChart" style="width:100%;max-width:350px;margin: 15px auto;"></canvas>
        </div>
        <div style="width: 50%;">
            <canvas id="doughnutChart" style="width:100%;max-width:350px;margin: 15px auto;"></canvas>
        </div>
        <div style="width: 60%;">
            <canvas id="barChart" style="width:100%;max-width:700px;margin: 15px auto;"></canvas>
        </div>
    </div>
    <a asp-controller="Analysis" asp-action="Index" asp-area="Manager" class="btn btn-secondary">Back to List</a>
</body>
<script>
    // Color
    var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145",
        "#004f91",
        "#fcce06",
        "#3a225d",
        "#9a1c22",
        "#254aa5",
        "#D9E3EF",
        "#02183c"
    ];
    //Pie Chart variables
    var xPieValues = [];
    @foreach (var item in Model)
    {
        @:xPieValues.push("@item.semester.SemesterName")
    }
                    var yPieValues = [];
    @foreach (var item in Model)
    {
        @:yPieValues.push("@item.PercentageOfContribution")
    }
        //Pie Chart draw
        new Chart("pieChart", {
            type: "pie",
            data: {
                labels: xPieValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yPieValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Percentage of Contribution in Faluty(%)"
                }
            }
        });
    //Doughnut Chart variables
    var xDoughnutValues = [];
    @foreach (var item in Model)
    {
        @:xDoughnutValues.push("@item.semester.SemesterName")
    }
                            var yDoughnutValues = [];
    @foreach (var item in Model)
    {
        @:yDoughnutValues.push("@item.PercentageOfApproved")
    }
        //Doughtnut Chart draw
        new Chart("doughnutChart", {
            type: "doughnut",
            data: {
                labels: xDoughnutValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yDoughnutValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Percentage of Approved Contribution in Faluty(%)"
                }
            }
        });
    //Bar Chart Variables
    var xBarValues = [];
    @foreach (var item in Model)
    {
        @:xBarValues.push("@item.semester.SemesterName")
    }
            var y1BarValues = [];
    var y2BarValues = [];
    @foreach (var item in Model)
    {
        @:y1BarValues.push("@item.ContributorNum")
    }
    @foreach (var item in Model)
    {
        @:y2BarValues.push("@item.ContributionNum")
    }
                    // Bar Chart Draw
                    var ctx = document.getElementById("barChart").getContext('2d');
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: xBarValues,
            datasets: [{
                label: 'Contributor',
                data: y1BarValues,
                backgroundColor: "rgba(153,255,51,1)"
            }, {
                label: 'Contribution',
                data: y2BarValues,
                backgroundColor: "rgba(255,153,0,1)"
            }]
        },
        options: {
            title: {
                display: true,
                text: "Number of contributor and contribution each Semester"
            }
        }
    });
</script>