@model StudentContributions.Models.ViewModels.ConDetails;

@{
    ViewData["Title"] = "Details";
}

<h1>Contribution Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Article name
        </dt>
        <dd class = "col-sm-10">
            @Model.Contribution.Title
        </dd>
        <dt class = "col-sm-2">
            Status
        </dt>
        <dd class = "col-sm-10">
            @Model.Contribution.Contribution_Status
        </dd>
        <dt class = "col-sm-2">
            Comment
        </dt>
        <dd class = "col-sm-10">
            @Model.Contribution.Comment
        </dd>
        <table>
            <tr>
                <th>Attachments</th>
                <th>
                    @if (Model.Filenames.Count != 0)
                    {
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("DownloadZip", "Contribution", new { id = Model.Contribution.ID })'">Download As Zip</button>
                    }
                </th>
            </tr>
            @foreach (var file in Model.Filenames)
            {
                <tr>
                    <td><a asp-action="DownloadFile" asp-controller="Contribution" asp-area="Student" asp-route-id="@Model.Contribution.ID" asp-route-fileName="@file">@file</a></td>
                    <td><a asp-action="DeleteFile" asp-controller="Contribution" asp-area="Student" asp-route-id="@Model.Contribution.ID" asp-route-fileName="@file">Delete</a></td>
                </tr>
            }
        </table>
        <form method="post" asp-action="Details" asp-route-id="@Model.Contribution.ID" enctype="multipart/form-data">
            <input type="file" name="files" class="form-control" multiple>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
</div>
<div>
    <a asp-controller="Contribution" asp-action="Index">Back to List</a>
    <a asp-controller="Contribution" asp-action="Edit" asp-route-id="@Model.Contribution.ID" class="btn btn-warning">Edit Info</a>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}
