@model IEnumerable<StudentContributions.Models.Models.Contribution>
@{
    ViewData["Title"] = "My Articles";
    DateTime? timestamp1 = ViewBag.Timestamp1;
    DateTime? timestamp2 = ViewBag.Timestamp2;
    bool canEdit = DateTime.Now <= timestamp2; // Allow edits until the semester closure date
    bool canCreate = DateTime.Now <= timestamp1; // Allow creation until the magazine closure date
}

<head>
    <title>Table 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~css/style.css">

</head>
@if (canCreate)
{
    <a class="nav-link text-dark" asp-area="Student" asp-controller="Contribution" asp-action="Create">New Article</a>
}

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">My Article</h2>
                </div>
            </div>
        <div class="container">
            <h2>Responsive Tables Using LI <small>Triggers on 767px</small></h2>
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">Tittle</div>
                    <div class="col col-1">Status</div>
                    <div class="col col-4">Comment</div>
                    <div class="col col-3">Magazine_ID</div>
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                </li>
                @foreach (var item in Model)
                {
                    <li class="table-row">
                        <div class="col col-1">@Html.DisplayFor(modelItem => item.Title)</div>
                        <div class="col col-1">@Html.DisplayFor(modelItem => item.Contribution_Status)</div>
                        <div class="col col-4" id="myText">
                            @if (item.Comment != null && item.Comment.Any())
                            {
                                    @item.Comment;
                             }
                                else
                                {
                                    <p>No comment</p>
                                }
                        </div>
                        <div class="col col-3">@Html.DisplayFor(modelItem => item.MagazineID)</div>
                         <div class="col col-1"><a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ID">Details</a></div>
                            <div class="col col-1"><a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a></div>
                            <div class="col col-1"><a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ID">Edit</a></div>
                    </li>
                }
            </ul>
        </div>
    </section>
    <script>
        window.onload = function () {
            var p = document.getElementById('myText');
            var text = p.innerText;
            var maxLength = 30; // Đặt giới hạn kí tự tại đây
            var newText = '';
            var lines = text.split('\n');
            for (var i = 0; i < lines.length; i++) {
                var line = lines[i];
                while (line.length > maxLength) {
                    newText += line.substring(0, maxLength) + '\n';
                    line = line.substring(maxLength);
                }
                newText += line + '\n';
            }
            p.innerText = newText;
        }
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
