@model IEnumerable<StudentContributions.Models.Models.Contribution>

@{
    ViewData["Title"] = "Index";
}

<h2>Contributions</h2>


<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contribution_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagazineID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                </td>
                <td>
                    @if (item.Comment != null && item.Comment.Any())
                    {
                        <ul>
                            @foreach (var comment in item.Comment)
                            {
                                <li>@comment</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No comments</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contribution_Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MagazineID)
                </td>
                <td>
                    @if (this.User.IsInRole("Student,Coordinator"))
                    {

                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    
                        @if(this.User.IsInRole("Student"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
