@model StudentContributions.Models.ViewModels.ConOfMagVM;

@{
    ViewData["Title"] = "Details";
}
<div class="row shadow" style="margin-inline:10%; padding-top:5px">
    <div class="col-md-6 border border-dark">
        <h1>Magazine Details</h1>
        <hr style="margin:5px"/>
        <dl class="row">
            <dt class="col">
                Magazine name
            </dt>
            <dd class="col">
                @Model.Magazine.MagazineName
            </dd>
            <dt class="col">
                Available on
            </dt>
            <dd class="col">
                @Model.Magazine.Semester.StartDate
            </dd>
            <div class="w-100"></div>
            <dt class="col">
                New contribution deadline
            </dt>
            <dd class="col">
                @Model.Magazine.ClosureDate
            </dd>
            <div class="w-100"></div>
            <dt class="col">
                Final edit deadline
            </dt>
            <dd class="col">
                @Model.Magazine.Semester.EndDate
            </dd>
        </dl>
        @if (User.IsInRole("Student") && Model.SubmitStarted == true)
        {
            <a class="text-dark btn btn-info mb-2" asp-area="Student" asp-controller="Contribution" asp-action="Create" asp-route-magID="@Model.Magazine.ID">New Article</a>
        }
        <a class="text-dark btn btn-info mb-2" asp-area="Manager" asp-controller="Magazine" asp-action="DownloadZipMagazine" asp-route-id="@Model.Magazine.ID">Download all articles</a>
    </div>
    <div class="col-md-6 border border-dark">
        <div class="row">
                <h3>Contributions of Magazine</h3>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Article name</th>
                        @if (User.IsInRole("Coordinator"))
                        {
                            <th>Comment</th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Contributions)
                    {
                        <tr>
                            <td>@item.Title</td>
                            @if (User.IsInRole("Coordinator"))
                            {
                                <td>@item.Comment</td>
                            }
                            <td><a asp-controller="Contribution" asp-action="Details" asp-area="Student" asp-route-id="@item.ID" class="btn btn-info">Details</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-md-end mt-4">
            <a asp-controller="Home" asp-action="Index" asp-area="Student" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>

