@model StudentContributions.Models.ViewModels.ConOfMagVM;

@{
    ViewData["Title"] = "Details";
}

<h1>Magazine Details</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Magazine name
        </dt>
        <dd class="col-sm-10">
            @Model.Magazine.MagazineName
        </dd>
        <dt class="col-sm-2">
            New contribution deadline
        </dt>
        <dd class="col-sm-10">
            @Model.Magazine.ClosureDate
        </dd>
    </dl>
    <a class="nav-link text-dark" asp-area="Student" asp-controller="Contribution" asp-action="Create">New Article</a>
</div>

<div class="row pt-4 pb-4">
    <div class="col-6">
        <h3>Contributions of Magazine</h3>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Article name</th>
            @if (User.IsInRole("Coordinator"))
                {
                    <th>Comment</th>
                    <th>Status</th>
                }
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contributions)
        {
            <tr>
                <td>@item.Title</td>
                @if (User.IsInRole("Coordinator"))
                {
                    <td>@item.Comment</td>
                    <th>@item.Contribution_Status</th>
                }
                <td><a asp-controller="Contribution" asp-action="Details" asp-area="Student" asp-route-id="@item.ID" class="btn btn-info">Details</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="text-right mt-4">
    <a asp-controller="Home" asp-action="Index" asp-area="Student">Back to List</a>
</div>
