@model IEnumerable<StudentContributions.Models.Models.Faculty>

@{
    ViewData["Title"] = "Faculty list";
}
<div class="table-responsive-lg ">
    <div class="col-md-8 offset-md-2" style="padding-top:5px">
        <div style="display: flex; justify-content: space-between;">
            <h2>@ViewData["Title"]</h2>
            <a asp-action="Create" class="btn btn-primary" style="margin-bottom: 5px">Create New Faculty</a>
        </div>
        <table class="table table-borderless table-hover overflow-hidden rounded-table border shadow">
            <thead class="table-active">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var faculty in Model)
                {
                    <tr>
                        <td>@faculty.ID</td>
                        <td class="word-wrap">@faculty.Name</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@faculty.ID" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@faculty.ID" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
