@model AssignFacultyVM
<div class="col-md-8 offset-md-2">
    <h1>@Model.User.Email</h1>
    <div class="border p-3 mt-4 shadow">
        <div class="row">
            <div class="col-3">
                <div class="row mb-3">
                    <label>Faculty</label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            @if (Model.User.FacultyID != null)
                            {
                                @foreach (var faculty in Model.Faculties)
                                {
                                    if (faculty.ID == Model.User.FacultyID)
                                    {
                                        
                                        @faculty.Name
                                    }
                                }
                            }
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (var faculty in Model.Faculties)
                            {
                                <li>
                                    <form method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="userID" value="@Model.User.Id" />
                                        <input type="hidden" name="FacultyID" value="@faculty.ID" />
                                        <button type="submit" class="dropdown-item">@faculty.Name</button>
                                    </form>
                                </li>
                            }
                            <li>
                                <form method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="userID" value="@Model.User.Id" />
                                    <input type="hidden" name="nofalculty" value="true" />
                                    <button type="submit" class="dropdown-item">No Falcuty</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group" role="group">
            <a asp-controller="Account" asp-action="Index" class="btn btn-primary">
                Back to List
            </a>
        </div>
    </div>
</div>