@model IEnumerable<AccountVM>
<partial name="_Notification" />
<div class="col-md-8 offset-md-2">
	<h2>List of Customer account</h2>

	<div>
		<table class="table table-borderless table-hover rounded-table border shadow">
			<thead class="table-active">
				<tr>
					<th>Email</th>
					<th>Role</th>
					<th>Assign Role</th>
					<th>Assign Faculty</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var account in Model)
				{
					<tr>
						<td>@account.User.Email</td>
						<td>
							@foreach (var role in account.Roles)
							{
								@role
							}
						</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
									Assign Role
								</button>
								<ul class="dropdown-menu">
									@using (Html.BeginForm("AssignRole", "Account"))
									{
										<li>
											<input type="hidden" name="userId" value="@account.User.Id" />
											<input type="hidden" name="newrole" value="Coordinator" />
											<button type="submit" class="dropdown-item">Coordinator</button>
										</li>
									}
									@using (Html.BeginForm("AssignRole", "Account"))
									{
										<li>
											<input type="hidden" name="userId" value="@account.User.Id" />
											<input type="hidden" name="newrole" value="Student" />
											<button type="submit" class="dropdown-item">Student</button>
										</li>
									}
									@using (Html.BeginForm("AssignRole", "Account"))
									{
										<li>
											<input type="hidden" name="userId" value="@account.User.Id" />
											<input type="hidden" name="newrole" value="Admin" />
											<button type="submit" class="dropdown-item">Admin</button>
										</li>
									}
									@using (Html.BeginForm("AssignRole", "Account"))
									{
										<li>
											<input type="hidden" name="userId" value="@account.User.Id" />
											<input type="hidden" name="newrole" value="Manager" />
											<button type="submit" class="dropdown-item">Manager</button>
										</li>
									}
								</ul>
							</div>
						</td>
						<td><a asp-controller="Account" asp-action="AssignFaculty" asp-route-userId="@account.User.Id" class="btn btn-primary">Assign Faculty</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>

</div>