@model IEnumerable<StudentContributions.Models.Models.Contribution>

@{
    ViewData["Title"] = "Contributions";
}

<h2 class="page-title">@ViewData["Title"]</h2>
<div class="table-responsive shadow-lg">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Magazine Name</th>
                <th scope="col">Submission Date</th>
                <th scope="col">Comments</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contribution in Model)
            {
                <tr>
                    <td>@contribution.Title</td>
                    <td>@contribution.Magazine.MagazineName</td>
                    <td>@contribution.SubmissionDate.ToShortDateString()</td>
                    <td>@contribution.Comment</td>
                    <td>@contribution.Contribution_Status</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-controller="Contribution" asp-action="Edit" asp-route-id="@contribution.ID" class="btn btn-primary btn-sm">Edit</a>
                            <form asp-controller="Contribution" asp-action="ChangeStatus" method="post">
                                <input type="hidden" name="id" value="@contribution.ID" />
                            </form>
                            <form asp-controller="Contribution" asp-action="ChangeStatus" method="post">
                                <input type="hidden" name="id" value="@contribution.ID" />
                                <button type="submit" name="newStatus" value="Approved" class="btn btn-success btn-sm">Approved</button>
                            </form>
                            <form asp-controller="Contribution" asp-action="ChangeStatus" method="post">
                                <input type="hidden" name="id" value="@contribution.ID" />
                                <button type="submit" name="newStatus" value="Deny" class="btn btn-danger btn-sm">Deny</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
