@model StudentContributions.Models.Models.Magazine
@{
    ViewData["Title"] = "Delete";
}
<div class="col-md-8 offset-md-2 border-shadow">
    <h3>Are you sure you want to delete this Magazine?</h3>
    <hr />
    <div>
        <div>
            <div class="row">
                <div class="col-sm-3">
                    <strong>Magazine name:</strong>
                </div>
                <div class="col-sm-9">
                    <span style="word-break: break-all">@Html.DisplayFor(model => model.MagazineName)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.ClosureDate)</strong>
                </div>
                <div class="col-sm-9">
                    <span>@Html.DisplayFor(model => model.ClosureDate)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.FacultyID)</strong>
                </div>
                <div class="col-sm-9">
                    <span>@Html.DisplayFor(model => model.FacultyID)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.SemesterID)</strong>
                </div>
                <div class="col-sm-9">
                    <span>@Html.DisplayFor(model => model.SemesterID)</span>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="Delete" style="display: flex; justify-content: space-between;">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>