@model IEnumerable<StudentContributions.Models.Models.Magazine>
@{
    ViewData["Title"] = "Index";
}
<div class="col-md-8 offset-md-2" style="padding-top:5px">
    <div style="display: flex; justify-content: space-between;">
        <h1>Magazines</h1>
        <a asp-action="Create" class="btn btn-primary" style="margin-bottom: 10px">Create New</a>
    </div>
    <div class="table-responsive">
    <table class="table table-borderless table-hover overflow-hidden rounded-table border shadow">
        <thead class="table-active">
            <tr>
                <th>
                    Magazine Name
                </th>
                <th>
                    Closure Date
                </th>
                <th>
                    Falculty Name
                </th>
                <th>
                    Semester End Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MagazineName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClosureDate)
                    </td>
                    <td>
                        @item.Faculty.Name
                    </td>
                    <td>
                        @item.Semester.EndDate
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>

                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>